<h1><%= t('.title') %></h1>

<% @user.errors.each do |error| %>
    <span><%= error.full_message %></span><br>
<% end %>

<%= form_with model: @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit %>
<% end %>

<%= link_to 'Voltar', root_path %>