<div class="container py-3">
  <h1><%= t('.title') %></h1>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <h6 class="btn btn-primary"><%= link_to t('.add_new'), new_product_entry_path, class:"link-secondary" %></h6>
    <h6 class="btn btn-primary"><%= link_to t('.back'), root_path, class:"link-secondary" %></h6>
  </div>
  <% if @product_entry.empty? %>
    <h3><%= t('.empty') %></h3>
  <% end %>
  <div class="container-sm">
    <div class="row justify-content-md-left border bg-light py-1">
      <div class="col col-lg-2"><h5><%= ProductEntry.human_attribute_name(:sku) %></h5></div>
      <div class="col col-lg-2"><h5><%= ProductEntry.human_attribute_name(:quantity) %></h5></div>
      <div class="col col-lg-2"><h5><%= ProductEntry.human_attribute_name(:created_at) %></h5></div>
    </div>
    <% @product_entry.each do |entry| %>
      <div class="row justify-content-md-left border">
        <div class="col col-lg-2"><p> <%= link_to entry.sku, entry, class: "link-primary" %> </p></div>
        <div class="col col-lg-2"><p> <%= entry.quantity %> </p></div>
        <div class="col col-lg-2"><p> <%= entry.created_at.strftime('%d/%m/%Y') %> </p></div>
      </div>
    <% end %>
  </div>
</div>
