<h1><%= t('.title') %></h1>

<p><%= link_to t('.add_new'), new_product_entry_path %></p>
<p><%= link_to t('.back'), root_path %></p>

<% if @product_entry.empty? %>
  <h3><%= t('.empty') %></h3>
<% end %>

<% @product_entry.each do |entry| %>
  <p><%= ProductEntry.human_attribute_name(:sku) %>: <%= link_to entry.sku, entry %></p>
  <p><%= ProductEntry.human_attribute_name(:quantity) %>: <%= entry.quantity %></p>
  <p><%= ProductEntry.human_attribute_name(:created_at) %>: <%= entry.created_at.strftime('%d/%m/%Y') %></p>
<% end %>