<% if @product_entry.errors.any? %>
  <p>Foram encontrados <%= @product_entry.errors.count %> erro(s):</p>
  <ul>
    <% @product_entry.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<h1><%= t('.model') %></h1>

<%= form_with model: @product_entry do |form| %>
  <p><%= form.label :sku %></p>
  <p><%= form.text_field :sku %></p>

  <p><%= form.label :quantity %></p>
  <p><%= form.text_field :quantity %></p>

  <p><%= form.label :invoice %></p>
  <p><%= form.text_field :invoice %></p>

  <p><%= form.label :supplier_id %></p>
  <p><%= form.text_field :supplier_id %></p>

  <%= form.hidden_field :warehouse_id, value: current_user.warehouse_id %>

  <p><%= form.submit %></p>
<% end %>

<%= link_to 'Voltar', product_entries_path %>
