<h1>Fornecedor</h1>
<ul>
  <li>
  <p> Razão Social: <%= @supplier.name %> </p>
  </li>
  <li>
  <p> Nome Fantasia: <%= @supplier.trade_name %> </p>
  </li>
  <li>
  <p> CNPJ: <%= @supplier.cnpj %> </p>
  </li>
  <li>
  <p> Situação: <%= @supplier.active? ? 'Ativado' : 'Bloqueado' %> </p>
  </li>
  <li>
  <p>Endereço:<p>
    <% @supplier.addresses.each do |address| %>
        <div>
            <%= address.name %>, <%= address.number %>. <%= address.district %><br>
            <%= address.city %>, <%= address.state %><br>
            <%= address.zip_code %>
            <%= address.latitude %> , <%= address.longitude %>
        </div><br>
    <% end %>
  </li>
</ul>

<% if @supplier.active? %>
  <p><%= link_to 'Desativar Fornecedor', change_active_supplier_path, method: :post %></p>
<% else %>
  <p><%= link_to 'Ativar Fornecedor', change_active_supplier_path, method: :post %></p>
<% end %>

<p><%= link_to 'Editar Fornecedor', edit_supplier_path %></p>
<p><%= link_to 'Voltar', suppliers_path %></p>