<h1><%= t('.title') %></h1>
<ul>
  <li>
  <p><%= Supplier.human_attribute_name(:name) %>: <%= @supplier.name %> </p>
  </li>
  <li>
  <p><%= Supplier.human_attribute_name(:trade_name) %>: <%= @supplier.trade_name %> </p>
  </li>
  <li>
  <p><%= Supplier.human_attribute_name(:cnpj) %>: <%= @supplier.cnpj %> </p>
  </li>
  <li>
  <p><%= Supplier.human_attribute_name(:status) %>: <%= Supplier.human_attribute_name("status/#{@supplier.active}") %> </p>
  </li>
  <% if @supplier.address %>
      <p><%= Supplier.human_attribute_name(:addresses) %><p>
      <div>
        <%= @supplier.address.name %>, <%= @supplier.address.number %>. <%= @supplier.address.district %><br>
        <%= @supplier.address.city %>, <%= @supplier.address.state %><br>
        <%= @supplier.address.zip_code %>
        <%= @supplier.address.latitude %> , <%= @supplier.address.longitude %>
      </div><br>
    <% end %>
  </li>
</ul>

<% if @supplier.active? %>
  <p><%= link_to t('.inactivate'), change_active_supplier_path, method: :post %></p>
<% else %>
  <p><%= link_to t('.activate'), change_active_supplier_path, method: :post %></p>
<% end %>

<p><%= link_to t('.edit'), edit_supplier_path %></p>
<p><%= link_to t('.back'), suppliers_path %></p>