<p><%= Warehouse.human_attribute_name(:name) %>: </p>
<%= @warehouse.name %>
<p><%= Warehouse.human_attribute_name(:code) %>:</p>
<%= @warehouse.code %>
<% if @warehouse.address %>
    <p><%= Warehouse.human_attribute_name(:address) %>:</p>
    <div>
        <%= @warehouse.address.name %>, <%= @warehouse.address.number %>. <%= @warehouse.address.district %><br>
        <%= @warehouse.address.city %>, <%= @warehouse.address.state %><br>
        <%= @warehouse.address.zip_code %>
        <%= @warehouse.address.latitude %> , <%= @warehouse.address.longitude %>
    </div><br>
<% end %>
<%= link_to t('.back'), root_path%>
