<!DOCTYPE html>
<html>
  <head>
    <title>Storage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <div>
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div>
        <%= alert %>
      </div>
    <% end %>
<<<<<<< HEAD

=======
>>>>>>> d98ac638e0ff45ada630a17a20288b24fbbe0a28
    <%= yield %>
  </body>
</html>
