<!DOCTYPE html>
<html>
  <head>
    <title>Storage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if user_signed_in? %>
        <%= current_user.name %>
        <%= link_to Supplier.model_name.human(count: 2), suppliers_path %>
        <%= link_to Product.model_name.human(count: 2), product_entries_path %>
        <%= link_to t('users.edit.title'), edit_user_path(current_user) %>
        <%= link_to t('reserved_items.nav_link'), reserved_items_path %>
        <% if current_user.admin? %>
          <%= link_to t('users.nav_link'), users_path %>
          <%= link_to t('warehouses.nav_link.all'), warehouses_path %>
        <% else %>
          <%= link_to t('warehouses.nav_link.mine'), warehouse_path(current_user.warehouse) %>
        <% end %>
        <%= link_to t('devise.sessions.log_out'), destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to t('devise.sessions.log_in'), new_user_session_path %>
      <% end %>
    </nav>

    <% if notice %>
      <div>
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div>
        <%= alert %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
