<!DOCTYPE html>
<html>
  <head>
    <title>Storage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if user_signed_in? %>
        <%= current_user.name %>
        <%= link_to 'Fornecedores', suppliers_path %>
        <%= link_to 'Produtos', product_entries_path %>
        <%= link_to 'Itens Reservados', reserved_items_path %>
        <% if current_user.admin? %>
          <%= link_to 'Usuários', users_path %>
          <%= link_to 'Criar Galpões', new_warehouse_path %>
        <% else %>
          <%= link_to 'Meu Galpão', warehouse_path(current_user.warehouse) %>
        <% end %>
        <%= link_to 'Editar Perfil', edit_user_path(current_user) %>
        <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Entrar', new_user_session_path %>
      <% end %>
    </nav>

    <% if notice %>
      <div>
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div>
        <%= alert %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
